# MySQL container credentials and IP
MYSQL_HOST="172.172.172.220"
MYSQL_USER="audit"
MYSQL_PWD="pw4audit"
MYSQL_DB="audit_db"

# IP of the log handler host (so this docker container)
LOGHANDLER_HOST_IP="172.172.172.221"

# Path to the 'remote' directory which holds rsyslog data (typically /var/log/remote)
REMOTE_DIR=$PWD/tmp/audit_logs
# Path to the client database file (cdb.json)
CDB_DIR=$PWD/../clients/
# Admin data holds black and whitelists, entities by federation etc
ADMIN_DATA_DIR=$PWD/tmp/inacademia_admin_data
# IDP_HINT_DIR holds a copy of the IDP hints
IDP_HINT_DIR=$PWD/tmp/idp_hint
# Location of ssh key for pullinng and pushing dtat to github.com and gitlab.geant.org
GIT_KEY_PATH=~/.ssh/id_rsa
